.submit{
    background-color: skyblue;
    color:black;
}
.clear{
    background-color: transparent;
    border: transparent;
    color:red;
}
.todo{
    width:100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color:rgb(222, 255, 246);

}
.container{
    /* height: 50vh; */
    width: 50vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    justify-items: center;
    align-items: center;
    font-size:x-large;
   box-shadow: 3px 3px 3px 3px rgb(188, 187, 187);
padding-bottom: 50px;
}
.additem{
    border: 3px solid skyblue;
}