@font-face {
    font-family: Bold;
    src: url(./Rene\ Bieder\ \ Milliard\ Bold.otf);
}
@font-face {
    font-family: Nova;
    src: url(./Proxima\ Nova\ Font.otf);
}
/* {
    box-sizing: border-box;
    margin: 0px;
padding: 0px;
} */
.maingrid{
    background-color: grey;
    display: grid;
    height: 4557px;
    width: 1600px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 270px;

}
.startgrid{
    display:grid;
    grid-column-start: 1;
    grid-column-end: 4;
height: 759px;
/* background-color: orange; */
}
span{
    text-align: justify;
    /* word-spacing: 66px; */
    font-family: Bold;
    font-size: 18px;
}
.text3{
    color:#FAAF41 ;
}
.text4{
    color: #E14B32;
}