*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --lg-color:rgb(184, 184, 239);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}
.container{
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius:10px;
    /* box-shadow:0 2.8px 2.2px rgba(0, 0,0,0.034 */
    width:calc(100vw - 65vw);
    max-width: 100%;
     border:2px solid #222;
}
label{
    color: #777;
}
.form{
    padding: 40px;
}
.form-control{
    margin-bottom: 20px;
    position: relative;
}
.form-control label{
    display:inline-block;
    margin-bottom: 5px;

}
.form-control input{
     width: 100%;
     border:2px solid #f0f0f0;
     border-radius: 5px;
     display: block;
     font: 1em sans-serif;
     font-size: 14px;
     padding: 12px;
}
.form-control input:focus{
outline:0;
border-color: #777;
}

.Header{
    /* background: blueviolet; */
    padding:30px 0;
    padding-left: 35px;
}
.header h2 {
    color:#222;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}
.form .btn{
    background: var(--lg-color);
    border-radius: 6px;
    border: none;
    outline:none;
    color: rgb(42, 109, 255);
    display: block;
    font-size: 16px;
    padding: 15px 0;
    margin-top: 20px;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    transition: all is ease;
}
.form .btn:hover
   {
    background: aqua;
}
.form-control.sucess input{
    border-color: green;
}
     
 
.form-control.error input{border-color: red;
}
  
.form-control small{
    visibility: hidden;
    color: orangered;}

.submit{
    display: inline-block;
    background-color: rgb(8, 156, 248);
    width: 225px;
    height: 35px;
    border-radius: 5px;
    color: #f0f0f0;
}